<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../jquery-3.2.1.js"></script>
    <title>Document</title>
</head>
<body>
        <form id="signin-form">
            <label for="signin-username" >User Name</label>
            <input type="text" name="signin-username" id="signin-username">

            <label for="signin-gmail" >Gamil</label>
            <input type="text" name="signin-gmail" id="signin-gmail">

            <label for="signin-password" >Password</label>
            <input type="text" name="signin-password" id="signin-password">

            <label for="signin-copassword" >Conform Password</label>
            <input type="text" name="signin-copassword" id="signin-copassword">

            <button id="signin-signin">signin</button>
        </form>

        <script src="../public/javascripts/userscript.js"></script>
</body>
</body>
</html>